.feed {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin-top: 7rem;
}

.add__heading {
  padding: 0;
  margin-top: 4rem;
  font-size: 4rem;
}

.dashboard {
  padding: 0 1rem;
}

.feed__active {
  padding-left: 2rem;
  border-left: #c0c0c0 solid 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .feed {
  }

  .dashboard {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 800px) {
  .feed {
    flex-direction: column;
  }
  .feed__active {
    border: none;
  }

  .feed__bottom {
  }
}
