.feed {
  flex: 1;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: #cecccc solid 1px;
  /* align-items: center; */
}

@media screen and (max-width: 800px) {
  .feed {
    padding: 30px 30px;
    flex-direction: column;
  }
}

.feed__heading {
  padding-top: 0;
}

.feed__heading {
  /* padding: 0.5rem 1rem; */
  color: #292929;
  /* background-color: #3b86db; */
  background: transparent;
  border-radius: 1rem 1rem 1rem 0rem;
}

.feed_heading > h1 {
  font-size: 3rem;
}

.add__heading {
  padding: 0;
  margin-top: 4rem;
}

.projects__heading {
  padding-top: 2rem;
  border-top: #777777 solid 1px;
  font-size: 4rem;
}

.dashboard {
  display: flex;
  /* flex-wrap: wrap; */
}

.dashboard > * {
  margin: 1rem;
}

@media screen and (max-width: 900px) {
  .dashboard {
    padding: 1rem;
    flex-direction: column;
  }
}
