.post__card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255);
  /* border: #c0c0c0 solid 1px; */
  border-radius: 1rem;
  box-shadow: 0px 10px 10px 5px #dbdbdb;
  width: 100%;
  max-width: 800px;
  transition: 100ms ease-in;
  position: relative;
  cursor: pointer;
}

.project__form {
}

.view__projectDetails {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 1rem;
  height: 20rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border-radius: 0 0 1rem 1rem;
  background-color: rgba(255, 255, 255, 1);
}

/* .delete__modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  padding: 2rem;
  height: 20rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
} */

.details__btn {
  padding: 0.5rem 1rem !important;
  border-radius: 0.25rem;
}
.details__button:hover {
  color: #f1f1f1 !important;
}

.delete__modalButtons > button {
  outline-width: 0;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: #4c4747;
  cursor: pointer;
}

.delete__modalButtons > button:hover {
  background-color: #cfcfcf;
}

.post__card:hover {
  transform: scale(1.01);
}

.post__heading {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  height: 5rem;
  overflow: hidden;
  border-bottom: #292929 solid 1px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.post__heading > * {
  margin: 0;
}
.post__heading > button {
  bottom: 0;
  cursor: pointer;
  background: none;
  width: fit-content;
  outline: none;
  border: none;
  border-top: #c0c0c0 solid 1px;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.post__heading > button:hover {
  color: #c0c0c0;
}

.post__heading > p {
  font-size: 1rem;
}

.project__title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.form__body {
  margin-top: 1rem;
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 1rem;
}

.form__body > * {
  margin-top: 1rem;
  flex-direction: column;
}

.edit__field {
  outline-width: 0;
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
}
.edit__field:focus {
  outline-width: 0;
  border: #292929 solid 1px;
  border-radius: 0.25rem;
  background-color: #fff;
}

.project-description {
  background-color: #fff;
  border: #fff solid 1px;
  border-radius: 0.35rem;
  resize: none;
}
.project-description:focus {
  outline-width: 0;
  border: #292929 solid 1px;
}

.bottom__inputItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: #c0c0c0 solid 1px;
}

.post__cardButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post__cardButtons > button {
  outline-width: 0;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: #4c4747;
  cursor: pointer;
}

.post__cardButtons > button:hover {
  background-color: #cfcfcf;
}

.update__modal {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.update__modal > button {
  outline-width: 0;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: #c0c0c0;
  cursor: pointer;
}

.update__modal > button:hover {
  background-color: #cfcfcf;
}

.hidden {
  display: none;
}
/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #292929 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 20px;
  border: 3px solid transparent;
}

@media screen and (max-width: 850px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #292929 transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 20px;
    border: 3px solid transparent;
  }
}
