.post__card {
  display: flex;
  flex-direction: column;
  background: none;
  border: #c0c0c0 solid 1px;
  border-radius: 1rem;
  box-shadow: 0px 9px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 800px;
  transition: 100ms ease-in;
  padding: 1rem;
}

.post__card:hover {
  transform: scale(1.02);
}

.post__card > form {
  margin-top: 1rem;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.project__title {
  font-size: 1.5rem;
}
.post__card > form * {
  margin-top: 1rem;
  flex: 1;
  flex-direction: column;
}

.edit__field {
  outline-width: 0;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 0.25rem;
  background-color: #fff;
}
.edit__field:focus {
  outline-width: 1;
  border: #292929 solid 1px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 0.25rem;
  background-color: #fff;
}

.project-description {
  background-color: #fff;
  border: #fff solid 1px;
  border-radius: 0.35rem;
  resize: none;
}
.project-description:focus {
  outline-width: 0;
  border: #292929 solid 1px;
  border-radius: 0.25rem;
}

.post__card > form > button {
  outline-width: 0;
  color: #fff;
  border: none;
  padding: 5px 20px;
  text-align: center;
  margin: 10px 0;
  border-radius: 0.25rem;
  background-color: #c0c0c0;
  cursor: pointer;
}

.post__card > form > * {
  /* margin-bottom: 0.25rem; */
}

.post__card > form > button:hover {
  background-color: #cfcfcf;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

/* BEFORE REFACTOR */

/*
.post {
  width: 100%;
  margin-top: 2rem;
  border: #c0c0c0 solid 1px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
}
.post:hover {
  transform: scale(1.02);
}


.post__top {

  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px 15px 0 0;
  color: #292929;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #d3d3d3;
}

.post__topInfo > h2 {
  padding: 0;
  margin: 10px 0;
}

.post__topInfo > h4 {
  text-transform: uppercase;
  font-size: small;
  padding: 0;
  margin: 0 0 5px 0;
}

.post__topInfo > p {
  font-size: small;
  color: #808080;
}



.post__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding: 15px 25px;
}
.editing__body {
  display: flex;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding: 15px 25px;
}



.post__bottom {
  margin: 10px 0;
  padding: 15px 25px;
}

.post__image > img {
  width: 100%;
}

.post__options {
  border-top: 1px solid #e2e1e1;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: #808080;
  cursor: pointer;
}

.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  flex: 1;
}

.post__option > p {
  margin-left: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 0 0 10px 10px;
} */
