.profile__container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.user__welcomeHeading {
  font-size: 3rem;
  color: #302e2e;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: #cecccc solid 1px;  */
}

.feed__container {
  /* padding-top: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
