/* GLOBAL STYLES */
html {
  height: 1005;
}

body {
  /* background-color: #f9f9f9 !important; */
  height: 100%;
  /* background: radial-gradient(#e66465, #9198e5); */
  /* background: radial-gradient(#504f4f, #666666); */
  /* background: radial-gradient(ellipse at top, #f8f8f8, transparent),
    radial-gradient(ellipse at bottom, #f7cac4, transparent); */

  background: linear-gradient(
    180deg,
    rgb(255, 138, 130) 0%,
    rgb(238, 81, 70) 100%
  );
  background-repeat: no-repeat;

  /* background-attachment necessary to fill entire window */
  background-attachment: fixed;
  font-size: 15px;
  font-family: "Titillium Web", sans-serif !important;
}

a {
  text-decoration: none;
}

.ui.button,
.ui.input,
.ui.form input {
  font-family: "Titillium Web", sans-serif !important;
}

header {
  /* height: 75px; */
  background: rgba(228, 227, 227, 0.9);
  /* background: radial-gradient(ellipse at bottom, #f7cac4, transparent),
    radial-gradient(ellipse at top, #e0e0e0, transparent); */
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: #eeeaea solid 1px;
}

header h2 {
  color: #292929;
  margin: 0;
  font-size: 2rem;
}

/* LOGIN/SIGNUP/RESET MODALS */

.login-container {
  min-height: 100vh;
  /* margin-top: 5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-height: 600px) {
  .login-container {
    margin: 4rem 0;
    padding-top: 2rem;
    /* background-color: red; */
  }
}
.under__container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
}

.image__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.image__container > img {
  height: 150px;
  border-radius: 3rem;
}

.message__link {
  text-decoration: none;
  color: #254aaf;
}

.under__container > * {
  margin: 12px 0 0 12px;
}

/* Targets the Link from React Router */
.under__container > a {
  color: #254aaf;
}

.ui.card.login-card {
  width: 450px;
}

.login.button {
}

.ui.form input[type="text"],
.ui.form input[type="password"],
.ui.form select {
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions button {
  margin-right: 5px;
}
.actions a {
  margin-left: 5px;
}
.other-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #212121;
}
.other-link:hover {
  padding: none;
  color: #c0c0c0;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.demo-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #aca8a8;
}
.demo-link:hover {
  padding: none;
  color: #c0c0c0;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

/* PROILE UPLOADS/UPDATES */
.profile-image {
  padding: 20px;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.file-input {
  display: none;
}
.upload-button {
  /* float: right;
  margin-top: 20px; */
}

@media screen and (max-width: 800px) {
  .profile__top {
    flex-direction: column;
  }
  .upload-button {
    margin: 1rem;
  }
}

/* FOOTER */
.footer__container {
  width: 100%;
  border-top: #c0c0c0 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.footer__container > * {
  margin: 0 3rem;
}

.footer__container > a {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
}

.footer__container > a:hover {
  text-decoration: none;
  color: #c0c0c0;
  cursor: pointer;
}

.footer__logo {
  display: flex;
  align-items: baseline;
}
.footer__logo > * {
  margin-right: 1rem;
  color: #292929;
}

.footer__logo > a {
  color: #c0c0c0;
}

.footer__logo > a:hover {
  margin-right: 1rem;
  color: #292929;
}
