/* NOTES */

/* 
Grays: 
- rgb(223,223,223)
- #c0c0c0
- #ccc
- #292929
- #424242

*/

/* 
=============== 
Global Styles
===============
*/

html {
  /* height: 1005; */
}

body {
  background-color: rgba(242, 250, 255, 0.3) !important;
  height: 100%;

  background-attachment: fixed;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

button {
  background-color: #fafafa;
  border: #c0c0c0 solid 1px;
  border-radius: 0.25;
  outline: none;
}
button:hover {
  background-color: #e4e4e4;
}

.ui.button,
.ui.input,
.ui.form input {
  font-family: "Noto Sans", sans-serif !important;
}

header {
  background: rgb(255, 255, 255);
  /* box-shadow: 0px 1px 10px #d4d4d4; */
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.header__wrapper {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: #eeeaea solid 1px;
}

header h2 {
  /* border: #c0c0c0 solid 1px; */
  padding: 0.25rem 0.75rem;
  border-radius: 5rem;
  color: #292929;
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

/* 
============================== 
LOGIN/SIGNUP/RESET MODALS
==============================
*/

.login-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-height: 600px) {
  .login-container {
    margin: 4rem 0;
    padding-top: 2rem;
  }
}

.login__landing {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .login__landing {
    grid-template-columns: 1fr;
  }
}

.login__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__right {
}

.under__container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
}

.image__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.image__container > img {
  height: 150px;
  border-radius: 3rem;
}

.message__link {
  text-decoration: none;
  color: #254aaf;
}

.under__container > * {
  margin: 12px 0 0 12px;
}

.under__container > a {
  color: #254aaf;
}

.ui.card.login-card {
  width: 450px;
}

.gradient__btn {
  background: linear-gradient(90deg, #e66465, #9198e5) !important;
  color: #fff !important;
}

.ui.form input[type="text"],
.ui.form input[type="password"],
.ui.form select {
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions button {
  margin-right: 5px;
}
.actions a {
  margin-left: 5px;
}
.other-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #212121;
}
.other-link:hover {
  padding: none;
  color: #c0c0c0;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.demo-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #aca8a8;
}
.demo-link:hover {
  padding: none;
  color: #c0c0c0;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
/* 
============================== 
  PROILE UPLOADS/UPDATES
==============================
*/

.profile-image {
  padding: 20px;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.file-input {
  display: none;
}

@media screen and (max-width: 800px) {
  .profile__top {
    flex-direction: column;
  }
  .upload-button {
    margin: 1rem;
  }
}
/* 
============================== 
Footer
==============================
*/

.footer__wrapper {
  border-top: #c0c0c0 solid 1px;
  width: 100%;
  max-height: 5rem;
}

.footer__container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding: 1rem;
}
.footer__container > * {
  margin: 0 3rem;
}

.footer__container > a {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
}

.footer__container > a:hover {
  text-decoration: none;
  color: #c0c0c0;
  cursor: pointer;
}

.footer__logo {
  display: flex;
  align-items: baseline;
}
.footer__logo > * {
  margin-right: 1rem;
  color: linear-gradient(90deg, #e66465, #9198e5);
}

.footer__logo > a {
  color: #c0c0c0;
}

.footer__logo > a:hover {
  margin-right: 1rem;
  color: #292929;
}

@media screen and (max-width: 600px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__logo {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .footer__logo > * {
    margin: 0;
  }
}
