/* CSS Table of Contents */

/*
- Global Styles
- CSS KeyFrame Animations
- Header / NavBar
- Login, Signup, Reset modals
- Profile Page
- Footer
*/

/*  */

/* 
=============== 
Global Styles
===============
*/

body {
  background-color: rgba(242, 250, 255, 0.3) !important;
  height: 100%;

  background-attachment: fixed;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

button {
  background-color: #fafafa;
  border: #c0c0c0 solid 1px;
  border-radius: 0.25;
  outline: none;
}
button:hover {
  background-color: #e4e4e4;
}

.ui.button,
.ui.input,
.ui.form input {
  font-family: "Noto Sans", sans-serif !important;
}

/*
=========================== 
CSS KeyFrame Animations
===========================
*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* INCLUDE THIS IN ANIMATED CLASS */
/* animation: 1.75s ease-in-out slideInFromLeft; */

/* 
============================== 
Header / NavBar
==============================
*/

header {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.header__wrapper {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: #eeeaea solid 1px;
}

header h2 {
  color: #292929;
  font-weight: 200;
  margin: 0;
  font-size: 2rem;
  letter-spacing: -0.2rem;
}

.header__right {
  display: flex;
  margin: 0;
  padding: 0;
}
.header__right > button {
  margin-left: 1rem !important;
}

@media screen and (max-width: 800px) {
  .header__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__right {
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: baseline;
    margin: 0 !important;
  }
}
/* 
============================== 
Login, Signup, Reset modals
==============================
*/

.login-container {
  margin-top: 2rem;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-height: 600px) {
  .login-container {
    margin: 4rem 0;
    padding-top: 2rem;
    max-width: 400px;
  }
}

.login__landing {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .login__landing {
    max-width: 400px;
    grid-template-columns: 1fr;
    align-items: center;
  }
}
.account__card {
  background-color: rgba(240, 240, 240, 0.7);
}

.login__left {
  animation: 1.75s ease-in-out fadeIn;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login__left > * {
  padding: 0;
  margin: 0;
}
.login__left > h1 {
  font-weight: 200;
  letter-spacing: -0.2rem;
  font-size: 6rem;
  color: #262626;
  margin-left: -0.3rem;
  padding-top: 0;
}
.login__left > h3 {
  letter-spacing: -0.1rem;
  color: #292929;
  margin: 0;
  padding-bottom: 0;
}
.login__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .login__left > h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .login__landing {
    max-width: 400px;
    grid-template-columns: 1fr;
  }
  .login__left > h1 {
    font-size: 4rem;
  }
}
.account__card {
  padding: 2rem;
  border: #d4d4d4 solid 1px;
  border-radius: 0.5rem;
}
.account__card__content > h2 {
  text-align: center;
  font-size: 2rem;
}
.account__field {
  margin-bottom: 2rem;
}
.account__cardBottom {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
}
.account__cardBottom > a {
  color: #c0c0c0;
  text-align: center;
  padding: 0;
  margin: 0;
}
.reset__link {
  color: #424242;
}
.under__container {
  display: inline-flex;
  flex-wrap: wrap;
}

.message__link {
  text-decoration: none;
  color: #254aaf;
}

.under__container > * {
  margin: 1rem 0 0 1rem;
}

.under__container > a {
  color: #254aaf;
}

.ui.card.login-card {
  width: 450px;
}

.gradient__btn {
  background: linear-gradient(90deg, #e66465, #9198e5) !important;
  color: #fff !important;
}

.ui.form input[type="text"],
.ui.form input[type="password"],
.ui.form select {
  margin-top: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions button {
  margin-right: 5px;
}
.actions a {
  margin-left: 5px;
}
.other-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #212121;
}
.other-link:hover {
  padding: none;
  color: #c0c0c0;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.demo-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #aca8a8;
}
.demo-link:hover {
  padding: none;
  color: #c0c0c0;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
/* 
============================== 
  Profile Page
==============================
*/

.profile-image {
  padding: 20px;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.file-input {
  display: none;
}

@media screen and (max-width: 800px) {
  .profile__top {
    flex-direction: column;
  }
  .upload-button {
    margin: 1rem;
  }
}

.profile__container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.user__welcomeHeading {
  font-size: 3rem;
  color: #302e2e;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.feed__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
============================== 
Active Project
==============================
*/

.activePost__container {
  margin: 0 2rem;
  margin-top: 0;
  border: #292929 solid 1px;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 100%;
  position: relative;
}
.active__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.active__headerBottom {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: baseline;
}
.active__title {
  font-size: 3rem;
  display: inline;
  margin: 0;
  padding: 0;
  padding-bottom: 0.25rem;
  border-bottom: #c0c0c0 solid 1px;
}
.edit__btnToggle {
  background: linear-gradient(90deg, rgb(106, 57, 116), rgb(236, 128, 170));
  color: #fff;
  width: 10rem;
  outline: none;
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.edit__btnToggle:hover {
  background-color: #f3f3f3;
}
.active__editSection {
  padding-top: 1rem;
  border-top: #c0c0c0 solid 1px;
  display: flex;
  flex-direction: column;
}
.active__editSection > * {
  margin-top: 0.5rem;
}
.hidden {
  display: none;
}
.active__input {
  border: #dadada solid 1px;
}
.active__textArea {
  border: #dadada solid 1px;
}

.bottom__inputItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: #c0c0c0 solid 1px;
}

/* EDIT MODULE */

.description__textArea {
  width: 100%;
}

.active__btn__section {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  justify-content: space-around;
}
.active__btn__section > * {
  border: none;
  width: 100%;
}

/* DELETE MODAL */
.delete__modal {
  position: absolute;
  display: flex;
  box-shadow: 0px 10px 10px 10px #c0c0c0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  padding: 2rem;
  height: 100%;
  top: 0;
  bottom: 30%;
  left: 0;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
}
.delete__modalButtons > button {
  outline-width: 0;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: #4c4747;
  cursor: pointer;
}

.delete__modalButtons > button:hover {
  background-color: #cfcfcf;
}
@media screen and (min-width: 1000px) {
  .activePost__container {
    width: 700px;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .activePost__container {
    max-width: 300px;
    width: 700px;
    margin: 0;
  }
  .active__title {
    font-size: 2rem;
    /* WILL FIX THIS */
    overflow: hidden;
  }
}

/* 
============================== 
Footer
==============================
*/

.footer__wrapper {
  border-top: #c0c0c0 solid 1px;
  width: 100%;
  max-height: 5rem;
}

.footer__container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding: 1rem;
}
.footer__container > * {
  margin: 0 3rem;
}

.footer__container > a {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
}

.footer__container > a:hover {
  text-decoration: none;
  color: #c0c0c0;
  cursor: pointer;
}

.footer__logo {
  display: flex;
  align-items: baseline;
}
.footer__logo > * {
  margin-right: 1rem;
  color: linear-gradient(90deg, #e66465, #9198e5);
}

.footer__logo > a {
  color: #c0c0c0;
}

.footer__logo > a:hover {
  margin-right: 1rem;
  color: #292929;
}

@media screen and (max-width: 600px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__logo {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .footer__logo > * {
    margin: 0;
  }
}
