.messageSender {
  display: flex;
  margin: 0;
  padding: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  /* background-color: rgba(255, 255, 255, 0.7); */
  background: rgba(255, 255, 255, 0.5);
  /* border: #c0c0c0 solid 1px; */
  border-radius: 1rem;
  box-shadow: 0px 10px 30px 10px #dbdbdb;
  width: 100%;
  max-width: 400px;
}

.sender__input {
  background-color: #fff;
  border: rgb(223, 223, 223) solid 1px;
  border-radius: 0.25rem;
  outline-width: 0;
  padding: 10px;
  margin: 10px 0px;
}
@media screen and (max-width: 850px) {
  .messageSender__top > form {
    grid-template-columns: 1fr;
  }
  .input__right {
    margin-left: 0;
  }
}
.sender__inputTitle {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  align-items: baseline;
}
.input__description {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.messageSender__top > form * {
  /* margin-top: 1rem;
  flex: 1;
  flex-direction: column;
  display: flex; */
}
.input__section {
  /* display: flex; */
  outline-width: 0;
  border: none;
  /* margin: 10px; */
  border-radius: 1rem;
  background-color: #fff;
}
/* .form__input > input {
  outline-width: 0;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 0.25rem;
  background-color: #fff;
  border: rgb(223, 223, 223) solid 1px;
} */
.project-description {
  background-color: #fff;
  border: #fff solid 1px;
  border-radius: 0.35rem;
  resize: none;
}
.messageSender__top > form > button {
  outline-width: 0;
  color: #fff;
  border: none;
  padding: 5px 20px;
  text-align: center;
  margin: 10px 0;
  border-radius: 0.25rem;
  background-color: #4c4747;
  cursor: pointer;
}

.messageSender__top > form > * {
  margin-bottom: 0.25rem;
}

.messageSender__top > form > button:hover {
  background-color: #cfcfcf;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}
.messageSender__option {
  padding: 20px;
  display: flex;
  align-items: center;
  color: #808080;
  margin: 5px;
}

.messageSender__option > h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
}
.messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 1.25rem;
}

.add__projectBtn {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition: 100ms ease-in-out;
}
.add__projectBtn:hover {
  transform: scale(1.02);
}
